<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
  <section id=<%= "#{shelter.id}"%>>
  <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}", class: "shelter-name" %>
  <%= button_to 'Edit Shelter', "/shelters/#{shelter.id}/edit", method: :get, class: "button" %>
  <%= button_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete, class: "button" %>
  </section>
  <br>
<% end %>
<br>

<%= link_to 'Add Shelter', '/shelters/new' %>
