<h2>Info for this Application</h2>

<section id="application-<%= @application.id %>">
  <p>Name: <%= @application.name %></p>
  <p>Address: <%= @application.address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip: <%= @application.zip %></p>
  <p>Phone number: <%= @application.phone %></p>
  <p>Description: <%= @application.description %></p><br><br>
</section>

<h3>Pets On Application:</h3>
<section id="pets-applied-for">
  <ul>
  <% @application.pets.each do |pet| %>
    <section id=<%= "pet-app-#{pet.id}"%>>
      <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        <%= button_to "Approve", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch, class: "button" %>
      </li>
      </section>
  <% end %>
</ul>
</section>
