<h2>Info for this Application</h2>

<section id="application-<%= @application.id %>">
  <p><b>Name:</b> <%= @application.name %></p>
  <p><b>Address:</b> <%= @application.address %></p>
  <p><b>City:</b> <%= @application.city %></p>
  <p><b>State:</b> <%= @application.state %></p>
  <p><b>Zip:</b> <%= @application.zip %></p>
  <p><b>Phone number:</b> <%= @application.phone %></p>
  <p><b>Description:</b> <%= @application.description %></p><br><br>
</section>

<h3>Pets On Application:</h3>
<section id="pets-applied-for">
  <ul>
  <% @application.pets.each do |pet| %>
    <section id=<%= "pet-app-#{pet.id}"%>>
      <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        <% if !pet.approved_application? %>
          <%= button_to "Approve", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch, class: "button" %>
        <% elsif @application.id == pet.approved_application_id %>
          <%= button_to "Unapprove", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch, class: "button" %>
        <% end %>
      </li>
      </section>
  <% end %>
</ul>
</section>
