<h1>Update <%= @pet.name %>'s Information</h1>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag :image %>
  <%= text_field_tag :image, @pet.image %><br>

  <%= label_tag :name %>
  <%= text_field_tag :name, @pet.name %><br>

  <%= label_tag :description %>
  <%= text_field_tag :description, @pet.description %><br>

  <%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age, @pet.approximate_age %><br>

  <%= label_tag :sex %>
  <%= select_tag :sex, options_for_select(['Male', 'Female'], @pet.sex) %><br>

  <%= submit_tag 'Update Pet', class: "button" %>


<% end %>
