<% if @shelter && @pets.empty? %>
  <p> Number of Pets: <%= @shelter.pets.pet_count %> </p>

  <h1> <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %> Pets </h1>
  <%= link_to 'Add Pet', "/shelters/#{@shelter.id}/pets/new" %>

<% elsif @shelter %>
  <p> Number of Pets: <%= @shelter.pets.pet_count %> </p>
  <h1> <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %> Pets </h1>
    <% @shelter_id = @pets.first.shelter_id %>
    <section class="pet-grid">

    <% @pets.sort_by_adoption_status.each do |pet| %>
      <section class="pet-info">
      <section id=<%= "#{pet.id}"%>>
      <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <%= image_tag(pet.image, :alt => "#{pet.name} image") %>
      <p>Approximate Age: <%= pet.approximate_age %> </p>
      <p>Sex: <%= pet.sex %> </p>
      <%= button_to 'Edit Pet', "/pets/#{pet.id}/edit", method: :get, class: "button" %>
      <%= button_to 'Delete Pet', "/pets/#{pet.id}", method: :delete, class: "button" %>
      </section>
      </section>
    <% end %>
    </section>
  <%= link_to 'Add Pet', "/shelters/#{@shelter_id}/pets/new" %>

  <% elsif  %>
    <h1>All Pets</h1>
    <section class="pet-grid">
      <% @pets.sort_by_adoption_status.each do |pet| %>
      <section class="pet-info">
      <section id=<%= "#{pet.id}"%>>
        <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
        <%= image_tag(pet.image, :alt => "#{pet.name} image") %>
        <p>Approximate Age: <%= pet.approximate_age %> </p>
        <p>Sex: <%= pet.sex %> </p>
        <p>Current Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %> </p>
        <%= button_to 'Edit Pet', "/pets/#{pet.id}/edit", method: :get, class: "button" %>
        <%= button_to 'Delete Pet', "/pets/#{pet.id}", method: :delete, class: "button" %>

      </section>
      </section>
      <% end %>
      </section>
<% end %>
