<h1>All Favorite Pets</h1>

<% if @pets.empty? %>
  <h3>You haven't added any pets to your Favorite Pets yet.</h3>
<% else %>
  <%= button_to 'Apply for Adoption', '/applications/new', method: :get, class: 'button' %>
  <%= button_to 'Remove All Pets from Favorites', "/favorites", method: :delete, class: 'button' %>
<% end %>

<section class="pet-grid" id="favorites">
  <% @pets.each do |pet| %>
    <section class="pet-info">
      <section id=<%= "pet-#{pet.id}"%>>
        <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
        <%= image_tag(pet.image, :alt => "#{pet.name} image") %>
        <%= button_to 'Remove from Favorite Pets', "/favorites/#{pet.id}", method: :delete, class: 'button' %>
      </section>
    </section>
  <% end %>
</section>

<% if !@pets_with_applications.empty? %>
  <section id="pets-with-applications">
    <h1>Pets With Applications</h1>
      <ul>
        <% @pets_with_applications.each do |pet| %>
          <section class="pet-info">
            <section id=<%= "pet-app-#{pet.id}"%>>
              <li>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
            </section>
          </section>
        <% end  %>
      </ul>
  </section>
<% end %>

<% if @pets.approved_applications? %>
  <section id="approved-pets">
    <h2>Pets with Approved Applications</h2>
    <ul>
      <% @pets_with_applications.each do |pet| %>
        <% if pet.approved_application? %>
          <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
